<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D20CF1D81C934E46001F4FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D20CF1F11C934E46001F4FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D20CF1FC1C934E46001F4FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
